body{
    margin: 0px;
    padding:  0px;
    background-color: rgb(253, 215, 164);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    margin-top: 20px;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin: 5px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}